
#photo_compte
{
    width:10%;
    height:10%;
}


@media (max-width:900px)
{
    #photo_compte
    {
        width:20%;
        height:20%;
    }
}


@media (max-width:400px)
{
    #photo_compte
    {
        width:40%;
        height:40%;
    }
}