
.titre_accueil{
    margin-top:5%;
    margin-bottom:1%;
}


.photo_compte
{
    width:10%;
    height:10%;
}

.photo_cv
{
    width:45%;
    height:90%;
}

@media (max-width:1200px)
{
    .photo_cv
    {
        width:50%;
        height:70%;
    }
}

@media (max-width:990px)
{
    .photo_compte
    {
        width:50%;
        height:20%;
    }

    .photo_cv
    {
        width:80%;
        height:50%;
    }
}


@media (max-width:570px)
{
    .photo_compte
    {
        width:40%;
        height:40%;
    }

    .photo_cv
    {
        width:45%;
        height:90%;
    }
}